.footer {
  .socialMedia {
    display: flex;
    align-items: center;

    & * + * {
      margin-left: 0.75rem;
    }

    &__item:nth-child(2) {
      margin-top: 0.5rem;
    }

    &__link {
      display: block;

      svg path {
        transition: all 0.2s ease-in-out;
      }

      svg:hover path {
        fill: $green;
      }
    }

    @include mq(medium) {
      margin-left: auto;
    }
  }
}
