@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&family=Public+Sans:wght@300;400;700&display=swap');

$dark-blue: hsl(245, 10%, 22%);
// texto para light mode
$text-dark-blue: hsl(200, 15%, 8%);
// (Light Mode Background)
$very-light-gray: hsl(0, 0%, 98%);
// Dark Mode Text & Light Mode Elements)
$white: hsl(0, 0%, 100%);

$gray: hsl(240, 3%, 87%);

$green: hsl(181, 37%, 55%);
$dark-green: #203a4c;

$font-public-sans: 'Public Sans', sans-serif;
$font-ibarra-real-nova: 'Ibarra Real Nova', serif;

// breakpoints
$breakpoints: (
  small: 375px,
  medium: 700px,
  large: 1024px,
  x-large: 1440px,
);
